<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>setting</title>
    </head>
    <body>

<h1>Setting parameter(サーバのレスポンス変更)</h1>
<form action="/setting_post" method="post">
    name       : <br>
<input name="name" type="text" /><br>
    address    : <br>
<input name="address" type="text" /><br>
    age        : <br>
<input name="age" type="text" /><br>
    birthday   : <br>
<input name="birthday" type="text" /><br>
    <input value="Send" type="submit" />
</form>

    </body>
